@using Microsoft.AspNet.Identity;
<link type="text/css" rel="stylesheet" href="~/Content/MessageStyles.css" />
<hr />
<div class="container-fluid">
    <div class="col-md-4">
        @Html.Partial("_Menu")
    </div>
    <div class="col-md-8">
        <a href="@Url.Action("GetAllUsers", "Home")" class="btn btn-success">
            Write new message
            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
        </a> <br />
        <h3>My messages</h3>
        <div class="messages">
            <ul class="list-unstyled">
                @foreach (var message in Model)
                {
                    <li>
                        <p>
                            <div class="row">
                                <img src="@Url.Action("UserPhotos", "Profile", new { id = message.ApplicationUserId})" height="58" width="58" id="profilePhoto" />
                                <span class="author">@message.AppUser.Profile.FirstName</span>
                                <span style="float:right">Written @message.Date</span>
                            </div> <br />
                            <span>@message.Text</span>
                        </p>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>
