@using Microsoft.AspNet.Identity
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

<script src="~/Scripts/jquery.signalR-2.4.1.min.js"type="text/javascript"></script>
<script src="~/Scripts/jquery-3.3.1.min.js" type="text/javascript"></script>
<div class="prof-photo">
    <img src="@Url.Action("UserPhotos", "Profile")" id="ProfileImg" />
</div>
<div class="btn-group-vertical menu">

    <ul>
        <li>
            <a href="@Url.Action("Edit", "Profile" , new { id=User.Identity.GetUserId<int>() })" class="">
                <span class="glyphicon glyphicon-home menu-pic" aria-hidden="true"></span>
                My Profile
            </a>
        </li>
        <li>
            <a href="@Url.Action("GetUserFriends", "Home" , null)" class="">
                <span class="glyphicon glyphicon-user menu-pic" aria-hidden="true"></span>
                Friends
            </a>
            <span id="requestCounter" hidden>0</span>
        </li>
        <li>
            <a href="@Url.Action("GetUserMessages", "Message", new { id = User.Identity.GetUserId<int>() })" class="">
                <span class="glyphicon glyphicon-envelope menu-pic" aria-hidden="true"></span>
                Messages
            </a>
            <span id="messageCounter" hidden>0</span>
        </li>
        <li>
            <a href="@Url.Action("GetUserById", "Home") " class="">
                <i class="glyphicon glyphicon-list-alt menu-pic"></i>
                Posts
            </a>
        </li>
    </ul>
</div>
<script type="text/javascript">
    $.getJSON(
        "@Url.Action("HasUnreadedMessages", "Message", new { id = User.Identity.GetUserId<int>()})",
        function(data) {
            if (data.countMessages != 0) {
                document.getElementById("messageCounter").hidden = false;
                $("#messageCounter").html(data.countMessages);
            }
        });

    $.getJSON(
         "@Url.Action("HasWaitingRequest", "FriendRequest", new { id = User.Identity.GetUserId<int>()})",
         function(data) {
             if (data.countRequests != 0) {
                 document.getElementById("requestCounter").hidden = false;
                 $("#requestCounter").html(data.countRequests);
             }
    });
</script>

