@model IEnumerable<SocialNW.PL.Models.ProfileViewModel>

@{
    ViewBag.Title = "GetAllUsers";
}
<hr />
<div class="container-fluid">
    <div class="col-md-3">
        @Html.Partial("_Menu")
    </div>
    <div class="col-md-9">
        @using (Html.BeginForm("Search", "Home"))
        {
            <p>
                <div class="row">
                    Name: @Html.TextBox("searchString", null, new { id = "txtSearch" })
                    Country: @Html.TextBox("country", null, new { id = "country" })
                    City: @Html.TextBox("city", null, new { id = "city" })
                    <input type="submit" value="Filter" />
                </div>
            </p>
        }
        <h3>List of users</h3>
        <div id="modDialog" class="modal fade">
            <div id="dialogContent" class="modal-dialog"></div>
        </div>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserPhoto)
                </th>
                <th>
                    Name
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="@Url.Action("UserPhotos", "Profile", new { id = item.Id})" height="58" width="58" id="profilePhoto" />
                    </td>
                    <td>
                        @Html.ActionLink(item.FirstName + " " + item.LastName, "GetProfile", "Profile", new { id = item.Id }, new { @class = "profileLink" })
                    <td>
                        <div class="userBtnGroup">
                            <a href="@Url.Action("Create", "Message", new { id = item.Id }, null)" class="btn btn-success">
                                Send message
                                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            </a>
                            <a href="@Url.Action("Create", "FriendRequest", new { friendUserId = item.Id }, null)" class="btn btn-primary">
                                Add friend
                                <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                            </a>
                        </div>
                </tr>
            }
        </table>
    </div>
</div>
<script type="text/javascript">jQuery.noConflict();
    $(document).ready(function () {
            $("#country").autocomplete({
                source: function (request, response) {
                    $.ajax({
                        url: "/Home/AutocompleteSearch",
                        type: "POST",
                        dataType: "json",
                        minLength: 1,
                        data: { "country": request.term },
                        success: function (data) {
                            response($.map(data, function (item) {
                                return { label: item.country, value: item.country };
                            }))
                        }
                    })
                },
                messages: {
                    noResults: "",
                    results: function (resultsCount) { }
                }
            });

           $("#txtSearch").autocomplete({
               source: function(request,response) {
                   $.ajax({
                       url: "/Home/AutocompleteSearch",
                       type: "POST",
                       dataType: "json",
                       minLength: 1,
                       data: { "term": request.term },
                       success: function (data) {
                           response($.map(data, function (item) {
                               return { label: item.user, value: item.user };
                           }))
                       }
                   })
               },
               messages: {
                   noResults: "",
                   results: function (resultsCount) { }
               }
           });

           $("#city").autocomplete({
               source: function (request, response) {
                   $.ajax({
                       url: "/Home/AutocompleteSearch",
                       type: "POST",
                       dataType: "json",
                       minLength: 1,
                       data: { "city": request.term },
                       success: function (data) {
                           response($.map(data, function (item) {
                               return { label: item.city, value: item.city };
                           }))
                       }
                   })
               },
               messages: {
                   noResults: "",
                   results: function (resultsCount) { }
               }
           });

            $.ajaxSetup({ cache: false });
            $(".profileLink").click(function (e) {
                e.preventDefault();
                $.get(this.href, function (data) {
                    $('#dialogContent').html(data);
                    $('#modDialog').modal('show');
                });
            });
       })</script>
